[Unit]
Description=Craftguild / jscalendar-tasks (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
SyslogIdentifier=jscalendar-tasks-%i
WorkingDirectory=/opt/craftguild/jscalendar-tasks/current
Environment=NODE_ENV=production
Environment=HOST=0.0.0.0
Environment=HOSTNAME=0.0.0.0
Environment=PATH=/usr/local/bin:/usr/bin:/bin
EnvironmentFile=/etc/default/craftguild/jscalendar-tasks/%i
ExecStart=/usr/bin/env node server.js
Restart=always
RestartSec=5
TimeoutStopSec=30
KillSignal=SIGINT
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
